<!DOCTYPE html>
@{ 
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="~/Content/WebApp/globe-css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/WebApp/globe-css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/WebApp/globe-css/favicon.png" rel="icon" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link href="~/Content/WebApp/globe-css/StyleSheet.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/WebApp/globe-css/responsive.css" rel="stylesheet" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
