
@{
    ViewBag.Title = "Mission";
    Layout = "~/Views/shared/_weblayout.cshtml";
}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/Content/webassets/img/about-header.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center">

            <h2>Mission</h2>
            <ol>
                <li><a href="/Home/Index">Home</a></li>
                <li>Mission</li>
            </ol>

        </div>
    </div><!-- End Breadcrumbs -->
    <section id="about" class="">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4" data-aos="fade-up">
                <div class="col-lg-4">
                    <img src="/Content/webassets/img/about.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8">
                    <div class="content ps-lg-5">
                        <h3>Mission</h3>
                        <p>
                            At AUN Money World, our mission is rooted in the exploration of ancestry through innovative and captivating means. We strive to make the journey of discovering our heritage result-oriented, hassle-free, and enjoyable. Our offerings are meticulously formulated, focusing on the science of healing rather than offering mere temporary satisfaction with fleeting outward results. 
                            Through our extensive experience and research, we firmly believe and reinforce the notion that true beauty radiates from within
                        </p>
                        <ul>
                            <li><i class="bi bi-check-circle-fill"></i> Cutting-Edge Innovations: Explore our range of products that are at the forefront of industry advancements.</li>
                            <li><i class="bi bi-check-circle-fill"></i> Ongoing Training and Support: Access comprehensive training resources and mentoring to excel in your business.</li>
                            <li><i class="bi bi-check-circle-fill"></i> Personal Development: Explore the opportunities for personal growth and self-improvement on your journey with AUN Money World.</li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section>
</main>
