
@{
    ViewBag.Title = "Vission";
    Layout = "~/Views/shared/_weblayout.cshtml";
}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/Content/webassets/img/about-header.jpg');">
        <div class="container position-relative d-flex flex-column align-items-center">

            <h2>Vission</h2>
            <ol>
                <li><a href="/Home/Index">Home</a></li>
                <li>Vission</li>
            </ol>

        </div>
    </div><!-- End Breadcrumbs -->


    <section id="about" class="">
        <div class="container" data-aos="fade-up">

            <div class="row gy-4" data-aos="fade-up">
                <div class="col-lg-4">
                    <img src="/Content/webassets/img/about.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8">
                    <div class="content ps-lg-5">
                        <h3>Vission</h3>
                        <p>
                            At AUN Money World, our vision is to create a global community of empowered individuals who are passionate about unearthing their ancestral roots and embracing their unique heritage. We envision a world where every person experiences the profound joy of connecting with their past, leading to a deeper understanding of their present and a brighter outlook on the future.

                            Through our MLM project, we aim to inspire and support our distributors to become successful entrepreneurs while fostering a sense of unity and collaboration within the AUN Money World family. We strive to be at the forefront of the MLM industry, continually innovating our products and business practices to provide unparalleled value to our distributors and customers alike
                        </p>
                        <ul>
                            <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>   
                            <li><i class="bi bi-check-circle-fill"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
                            <li><i class="bi bi-check-circle-fill"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
            </section>
</main>
