@model MLMPortal.Models.Registration
@{
    ViewBag.Title = "LevelTree";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<script src="~/assetsnew/js/jquery.min.js"></script>*@
@*<link href="~/TreeStyle/app.css" rel="stylesheet" />
    <link href="~/TreeStyle/tooltipster-sideTip-shadow.min.css" rel="stylesheet" />
    <link href="~/TreeStyle/tooltipster.bundle.min.css" rel="stylesheet" />
    <link href="~/TreeStyle/tree.css" rel="stylesheet">
    <link href="~/TreeStyle/tree_tooltip.css" rel="stylesheet">*@
<link href="~/content/treees.css" rel="stylesheet">
<link href="~/content/treees_ph1.css" rel="stylesheet">
<script>
    function getdirectmember(Member_ID) {
        var id = Member_ID;
        if (id != "") {
            window.location.href = "/MemberTeam/LevelTree?memberid=" + id + "";
        }
        else {
            alert("Agent Id does not exist!")
        }
    }
</script>
<form method="post">
    <div class="row">
        <div class="col-sm-4">
            <span style="font-size:25px;">Level Tree</span>
        </div>
        <div class="col-sm-4">
            <span>MemberId</span>
            @Html.TextBoxFor(m => m.MemberId, new { @class = "form-control" })
        </div>
        <div class="col-sm-4">
            <div class="row">
                <div class="col-sm-2" style="margin-top:30px">
                    <button type="submit" class="btn btn-success shadow-primary px-5" id="btnSerach"><i class="icon-lock"></i>Show</button>
                </div>
            </div>
        </div>

    </div>
</form>
<div calss="row">
    <span style="margin-top:50px;">
        @Html.Raw(Model.treeData)
    </span>

</div>

