@model MLMPortal.Models.PropertyClass
@{
    ViewBag.Title = "MyTeam";
    Layout = "~/Views/Shared/_Layoutapp.cshtml";
}

<style>
    .withdraw-option .list-group-item {
        text-align: center;
    }
</style>





<div class="container-fluid pr-0 pl-0 pt-0 bottom-space bg-color">

    <div class="admin-nav">
        <ul class="list-group">

            <li class="list-group-item d-flex justify-content-between align-items-start">
                <a href="/PayoutReport/LevelIncome">
                    <div class="Total_Team_Members"><i class="fa fa-file-text fa-ico" aria-hidden="true"></i><span>Level Income</span></div>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <a href="/PayoutReport/ROIIncome">
                    <div class="Total_Team_Members">
                        <i class="fa fa-file-text fa-ico" aria-hidden="true"></i><span>ROI Income</span>
                    </div>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
            </li>

            <li class="list-group-item d-flex justify-content-between align-items-start">
                <a href="/PayoutReport/Reward">
                    <div class="Total_Team_Members">
                        <i class="fa fa-file-text fa-ico" aria-hidden="true"></i><span>Monthly Reward</span>
                    </div>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </a>
            </li>

        </ul>
    </div>
</div>

