
@{
    ViewBag.Title = "Recoverypassword";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<script>
    function Recoverypassword() {
        if ($("#txtuserid").val() == "") {
            alert("Please Enter User Name. !!!");
            $("#txtuserid").focus();
            return;
        }

        var data = new FormData;
        data.append("Action", "1");
        data.append("MUserName", $("#txtuserid").val());
        $("#showSpinner").show();

        $.ajax({
            url: "/User/RecovreyPasswordofuser",
            type: "POST",
            contentType: false,
            processData: false,
            data: data,
            success: function (r) {
                if (r.Id == "1") {
                    alert(r.Msg);
                }
                else {
                    alert(r.Msg);
                }
               
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Some Error Occured");
                $("#showSpinner").hide();
            }
        });
    }

</script>



<div class="container-fluid bg-color">
    <div class="company-logo">
        <img src="../App/img/logo1.png" class="img-fluid" />
    </div>
    <!-- Nav pills -->
    <div class="loginregister">
        <ul class="nav nav-pills" role="tablist"></ul>

        <!-- Tab panes -->
        <div class="tab-content">


            <div id="home" class="container tab-pane active">
                <div class="form-box border-form">

                    <div class="col-md-12" align="center">
                        <h3 style="text-align:center">Recover Password</h3>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="input-group mb-3 input-group-sm">
                                <input name="user" type="text"  id="txtuserid" class="form-control" placeholder="User Id">

                            </div>
                        </div>

                        <div class="col-md-12">

                            <input type="button" id="btnSubmit" value="Recover Password" class="btn send-btn btn-primary" onclick="Recoverypassword()"  />
                        </div>
                        <div class="col-md-12" align="center">
                            <a href="../User/Login" style="color:white;text-align:center">Back to login</a>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

